<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
</head>

<body>
  <h1>Welcome to page 4</h1>

  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/page1">Login page</a>
  <a href="/page2">Insert issue</a>
  <a href="/page3">Search Issue</a>

  <!-- to be made -->
</body>

</html>